@import url('https://fonts.googleapis.com/css?family=Raleway:100,400');
body {
  font-family: 'Raleway', sans-serif;
  font-weight: thin;
  background: black;
}
body:after{
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  width: 200%;
  height: 200%;
  background: url('https://i.pinimg.com/736x/f1/2e/2a/f12e2a1c7e8393322f71358a79139436--jedi-sith-episode-vii.jpg');
  background-size: contain;
  background-position: 600px -200px;
  
  filter: blur(30px);
}
.movie-card {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  max-width: 800px;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin: 4vh auto;
  border-radius: 4px;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, .4);
  color: white;
  padding: 2vh 3%;
}

h1 {
  font-size: 170%;
  color: #ffffff !important;
  text-align: center;
  position: relative;
}
.movie-card:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: linear-gradient(to right, rgba(40,40,60,1) 0%,rgba(40,0,60,0) 90%);
  background-blend-mode: multiply;
  will-change: transform;
  z-index: 1;
}

form {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
form input {
  width: 60%;
  height: 40px;
  padding: 0 10px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 1em;
  color: #ffffff;
  background: rgba(0, 0, 0, .3);
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  transition: all .2s;
}
i {
  font-size: .7em;
  color: #ff5b84;
}
h1 {
  font-size: 170%;
  position: relative;
  z-index: 10;
}
span {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin-right: 80px;
  color: rgb(210, 210, 210);
}
.watch {
  display: block;
  border: 1px solid white;
  border-radius: 4px;
  position: relative;
  z-index: 10;
  color: white;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, .3);
  margin: 20px 0px;
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  transition: all .2s;
}
button:hover {
  background: rgba(255, 255, 255, .8);
  color: black;
  box-shadow: 0 0 10px rgba(255,255,255,.5);
  mix-blend-mode: screen;
}
button:active {
  transform: translateY(2px);
}
p {
  position: relative;
  z-index: 10;
  font-size: .8em;
  width: 60%;
  height: 35%;
}

@media (max-width: 768px) {
  body {
/*     background: none; */
  }
  .movie-card {
    width: 75%;
    height: 200px;
  }
  h1 {
  font-size: 120%;
  }
  p {
    display: none;
/*     overflow: hidden;
    width: 100%;
    height: 30%; */
  }
  .watch {
    margin: 5% auto;
  }
}
@media (max-width: 500px) {
  .movie-card {
    width: 100%;
  }
}